{% extends 'base/base.html' %}
{% block content%}
<div class="row">
    <div class="col l6 offset-l3 m8 offset-m2 s12">
        <div class="card-panel yellow lighten-2">
            For <b>Rental</b> Signup/Login <a href="/login/user/">Click Here</a>
        </div>
    </div>
    <div class="col l6 offset-l3 m8 offset-m2 s12">
        <div class="card-panel ">
            {% if messsages %}
            {% for messsage in messages %}
            {% if messsage.tags == 'info' %}
            <div class='chip green white-text'>{{messsage}}</div>
            {% endif %}
            {% if messsage.tags == 'warning' %}
            <div class='chip red white-text'>{{messsage}}</div>
            {% endif %}
            <br>
            {% endfor %}
            {% endif %}
            <div class="center">
            </div>
            <ul class="tabs ">
                <li class="tab col s6"><a class="active black-text" href="#login"
                                          style="font-family:Stylish;font-size:1.3rem">Login</a></li>
                <li class="tab col s6"><a class="black-text" href="#signup"
                                          style="font-family:Stylish;font-size:1.3rem">Sign Up</a></li>
            </ul>
            <div class="row">
                <div id="login" class="col s12">
                    <h4 class="center" style="font-family:Stylish">Login as Customer</h4>
                    <form class="col s12" method="POST" action="/login/user/">{% csrf_token %}
                        <div class="row">
                            <div class="input-field col s12">

                                <label for="username">Login</label>
                                <input type="text" name="username" id="username"  placeholder="username">
                            </div>
                            <div class="input-field col s12">

                                <label for="password">Password</label>
                                <input type="password" name="password" id="password"
                                       placeholder="password">
                            </div>
                            <div class="center">
                                <input type="submit" value="Login" class="btn green btn-large" name="login">
                            </div>
                        </div>
                    </form>
                </div>
                <div id="signup" class="col s12">
                    <h4 class="center" style="font-family:Stylish">Sign Up to start Booking Rental</h4>
                    <form class="col s12" enctype="multipart/form-data" action="/login/user/" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="input-field col s12">
                                <label for="email">E-mail</label>
                                <input type="email" name="email" id="email" class="validate"
                                       placeholder="Email">
                                <span class="helper-text" data-error="Wrong Email Format"></span>
                            </div>
                            <div class="input-field col s12">
                                 <label for="username">Login</label>
                                <input type="text" name="username"  placeholder="Username">
                            </div>
                            <div class="input-field col s12">
                                 <label for="username">Password</label>
                                <input type="password" name="password" placeholder="Password">
                            </div>
                            <label>Gender</label>
                            <input class="with-gap" name="gender"  type="radio" id="male" value="Male"/>
                            <label for="male">Male</label>

                            <input class="with-gap" name="gender" type="radio" id="female" value="Female"/>
                            <label for="female">Female</label>

                            <input class="with-gap" name="gender" type="radio" id="others" value="Others"/>
                            <label for="others">Others</label><br><br>

                            <div class="input-field col s12">
                                <label for="phone">Phone</label>
                                <input type="text" name="phone_no" id="phone" placeholder="phone number">
                            </div>
                            <div class="input-field col s12">
                                <label for="textarea2">Enter Full Address</label>
                                <textarea id="textarea2" class="materialize-textarea" data-length="200"
                                          name="address"></textarea>
                            </div>
                            <div class="input-field col s12">
                                <select name="state">
                                    <option value="Boleary">Boleary</option>
                                    <option value="Wyspy-Kanaryjskie">Wyspy Kanaryjskie</option>
                                    <option value="Chorwacja">Chorwacja</option>
                                    <option value="Grecja">Grecja</option>
                                    <option value="Karaiby">Karaiby</option>
                                    <option value="Wlochy">Wlochy</option>
                                    <option value="One-way">One way</option>
                                    <option value="Rejsy-specjalne">Rejsy specjalne</option>
                                    <option value="Terminy">Terminy</option>
                                </select>
                            </div><br>
                            <div class="file-field input-field col s12">
                                <div class="btn red lighten-2">
                                    <span>Profile Pic</span>
                                    <input type="file" name="profile_pic"><br><br>
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text">
                                </div>
                            </div>
                            <div class="center">
                                <input type="submit" value="Sign Up" name="signup" class="btn green btn-large">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script>
    $(document).ready(function () {
        $('select').select2({width: "100%"});
    });
</script>
{%endblock%}