{% extends 'base/base.html'%}
{% block content%}
<div class="row">
    <div class="col l8 offset-l2 m10 offset-m1 s12">
        <div class="card-panel">
            {% if messages %}
            {% for messsage in messages %}
            {% if messsage.tags == 'info' %}
            <div class='chip green white-text'>{{messsage}}</div>
            {% endif %}
            {% if messsage.tags == 'warning' %}
            <div class='chip red white-text'>{{messsage}}</div>
            {% endif %}
            <br>
            {% endfor %}
            {% endif %}
            <div class="row">
                <form class="col s12" method="POST" action="/rentel/add-room/new/" enctype="multipart/form-data">{% csrf_token %}
                    <div class="row">
                        <div class="input-field col s12">
                            <label for="first_name">Rental</label>
                            <input placeholder="Enter Rental" id="first_name" type="text" name="rental">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <label>Rental</label>
                            <select class="browser-default" name="rental">
                                <option value="wyspy-kanaryjskie">Wyspy Kanaryjskie</option>
                                <option value="wlochy">Wlochy</option>
                                <option value="karaiby">Karaiby</option>
                                <option value="baleary">Baleary</option>
                                <option value="grecja">Grecja</option>
                                <option value="chorwacja">Chorwacja</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <label for="price">Price</label>
                            <input type="text" name="price" id="price">
                        </div>
                    </div>
                    <div class="row">
                        <div class="file-field input-field col s12">
                            <div class="btn red lighten-2">
                                <span><i
                                        class="material-icons left black-text text-lighten-1">image</i> Yacht Image</span>
                                <input type="file" name="room_image">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <label for="no_of_days_advance">No of days in advance</label>
                            <input type="text" name="no_of_days_advance" id="no_of_days_advance">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <label for="start_day">From when rental yacht will be available for booking</label>
                            <input type="text" name="start_day" id="start_day" class="datepicker">
                        </div>
                    </div>
                    <div class="center">
                        <input type="submit" class="btn green btn-large" value="Add Rental">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $('.datepicker').pickadate({
        selectMonths: true,
        selectYears: 15,
        today: 'Today',
        clear: 'Clear',
        close: 'Ok',
        closeOnSelect: false,
    });

</script>
{% endblock %}